@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .main-header .logo {
    font-family: 'Nunito Sans', sans-serif;
}

.content {
  min-height: 100vh;
}

.container-fluid {
     padding-right: 0; 
     padding-left: 0; 
     margin-right: 0; 
     margin-left: 0; 
}

.primaryHeader {
  color: #3c8dbc;
}

textarea {
  font-family: monospace;
  min-height: 400px;
  min-width: 600px;
}

#yaml textarea {
  min-height: 800px;
  background: lightslategray;
    color: darkblue;
}

.form-control { 
  width: 150%;
}

hr {
  border-top: 1px solid black;
}